.center {
  text-align: center;
}
.header-home {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  padding: 5px 0;
}
.footer-home {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: white;
  padding: 5px 0;
}
.home {
  background-image: url("image/bg.jpg");
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100%;
  display: table;
}
.header {
  text-align: center;
  width: 100%;
  background: white;
  padding: 5px 0;
}
.options-home {
  display: table-cell;
  vertical-align: middle;
}
.modal-body textarea {
  width: 100%;
  border: none;
}
.card-container {
  margin-left: 7%;
  height: 200px;
}
.card {
  background: #FFF;
  width: 80%;
  height: 200px;
  text-align: center;
  margin: auto;
  padding: 0 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: table;
  position: absolute;
}
.card h1 {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}
.card h1 button {
  display: none;
  margin-top: 20px;
}
.card-bottom {
  background: #DDD;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  height: 190px;
  margin: auto;
  position: absolute;
  transform: translate(10px, 5px);
}
.move-left {
  transform: translate(-500px, 0) scale(0.8);
  transition: .8s;
  cursor: e-resize;
  opacity: 0;
}
