<div class="container center">
    <h3>This is a dare page</h3>
    <h1 id="question">{{question}}</h1>
    <button id="change">Change Question</button>
    <a href="./">Home</a>
    <a href="#truth">Truth</a>
</div>