<div class="header">
    <p id="logout">Log Out</p>
</div>
<div class="container center home">
    <h3>This is a truth page</h3>
    <div class="card-container">
        <div class="card-bottom">loading...</div>
    </div>

    <button id="change">Change Question</button>
    <a href="#">Home</a>
    <a href="#dare">Dare</a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <textarea rows="3" placeholder="Type your questions here..." id="new-question"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>